<div class="rewards-page">
  <div class="top-banner">
  
    <img src="https://cdn.shopify.com/s/files/1/0061/8532/0512/files/AQUA_Rewards_Banner_WO_Text_1.jpg?210317">
    <span class="banner-text">LOYALTY</span>
  </div>
  <div class="max-width">
    <div class="way-to-earn-point-part">
        <h2>ways to earn points</h2>
        <div class="earn-mony-part-main">
          <div class="earn-part-info">
              <div class="icon-earn">
                <img src="https://i.ibb.co/qMdMhZm/shop.png">
              </div>
              <h3>Shop</h3>
              <p>Spend $1, Earn 5 points</p>
              <p>(not just one!)</p>
          </div>
          <div class="earn-part-info">
              <div class="icon-earn">
                <img src="https://i.ibb.co/1TwHZ82/msg.png">
              </div>
              <h3>Share</h3>
              <p>Invite Your friends and<br> earn 200 Points (that's just <br> $40!) when they <br> purchase.</p>
          </div>
          <div class="earn-part-info">
              <div class="icon-earn">
                <img src="https://i.ibb.co/nQ9CgXS/sign-up.png">
              </div>
              <h3>Sign Up</h3>
              <p>Sign up For rewards <br> and get 
                200 points.
              </p>
          </div>
          <div class="earn-part-info thard-part">
              <div class="icon-earn">
                <img src="https://i.ibb.co/VJ4tzDC/birthday.png">
              </div>
              <h3>Birthday</h3>
              <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>
                sed do eiusmod tempor <br>
                incidid
              </p>
          </div>
          <div class="earn-part-info thard-part">
              <div class="icon-earn">
                <img src="https://i.ibb.co/BKzr2nj/f.png">
              </div>
              <h3>Follow Us</h3>
              <p>Earn 100 Points for<br> following @officialtarynrose<br> on facebook & Instagram & <br>stay in the Know on all<br> things Taryn Rose!</p>
          </div>
          <div class="earn-part-info thard-part">
              <div class="icon-earn">
                <img src="https://i.ibb.co/G5y6cC8/star.png">
              </div>
              <h3>Review</h3>
              <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>
                sed do eiusmod tempor <br>
                incidid
              </p>
          </div>
        </div>
    </div>
  </div>
  <div class="REDEMPTIONS">
    <div class="max-width">
        <h3>REDEMPTIONS</h3>
        <div class="dolor-coin">
          <div class="dolor">
              <h3>$25</h3>
              <p>125 Points</p>
          </div>
          <div class="dolor">
              <h3>$40</h3>
              <p>200 Points</p>
          </div>
          <div class="dolor">
              <h3>$50</h3>
              <p>250 Points</p>
          </div>
          <div class="dolor">
              <h3>$100</h3>
              <p>500 Points</p>
          </div>
        </div>
        <a href="#" class="button-join">Join Now</a>
        <a href="#" class="link-only">Already Have An Account?</a>
    </div>
  </div>
  <script>
    $("body").addClass('index');
  </script>
</div>