<div class="rewards-page">
  <div class="top-banner">
  
    <img src="{{ 'aqua-rewards_696a7872-2e3c-4c0d-a3c1-174f264ec2c6.jpg' | file_url }}">
    <span class="banner-text">LOYALTY</span>
  </div>
  <div class="max-width">
    <div class="way-to-earn-point-part">    	
			{% section 'reward-earn-points' %}
    </div>  		
  </div>
  <div class="REDEMPTIONS">  
    {% section 'redemptions' %}  
  </div>  
  <script>
    $("body").addClass('index');
  </script>
</div>
<div data-lion-account=""></div>