<div class="rewards-page">
  <div class="top-banner">
  
    <img src="https://cdn.shopify.com/s/files/1/0061/8532/0512/files/AQUA_Rewards_Banner_WO_Text_1.jpg?210317">
    <span class="banner-text">LOYALTY</span>
  </div>
  <div class="max-width">
    <div class="way-to-earn-point-part">    	
			{% section 'reward-earn-points' %}
    </div>  		
  </div>  
    {% section 'redemptions' %}  
  <script>
    $("body").addClass('index');
  </script>
</div>
<div data-lion-account=""></div>