{% if section.settings.about_bottom_banner_enabled %}

{% comment %}  ABOUT PAGE ::: Bottom Full Width Banner {% endcomment %}
<div class="about-bottom-banner">
  <img src="https://i.imgur.com/Z8klxaK.jpg" />
  <div class="banner-text-box right">
    <h2>Beautiful Wearability</h2>
    <div class="banner-divider"></div>
    <p>Stepping out in any weather.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus ex at semper ornare. Cras orci nulla, cursus vitae felis sit amet, fringilla placerat nisl. Curabitur imperdiet commodo dapibus. Sed ipsum augue, interdum ut neque vitae, rutrum posuere tortor. Quisque felis metus, feugiat in porta sit amet, venenatis quis tellus. Suspendisse ut interdum quam.</p>
  </div>
</div>

{% endif %}
