{% comment %}
  SNIPPET : CTA-WITH-SYMBOLS 
    --> a shortcut for adding CTA buttons with brand svg symbol on a configurable side (Aquatalia uses this extensively for example)
  
  REQUIRED DATA:
    - cta_link = some kind of text
    - symbol_placement = none / left / right / both (side does the svg icon go on)

  OPTIONAL DATA:
    - cta_link = location to link the text to when clicked
    - cta_type = extra class name if you need to specify a special modification like twin-promos.liquid does

{% endcomment %}


{% if symbol_placement == blank %}
  {% assign symbol_placement = 'none' %}
{% endif %}

{% if cta_type == blank %}
  {% assign cta_type = 'text' %}
{% endif %}


<div class="cta-with-symbols cta-type-{{ cta_type }}" data-symbol-placement="{{ symbol_placement }}">     
  {% if cta_link != blank %}
    <a href="{{ cta_link }}" target="_blank">
  {% endif %}

  {% include 'svg-icon-button-symbol', side: 'left' %}
  <span>{{ cta_text }}</span>
  {% include 'svg-icon-button-symbol', side: 'right' %}

  {% if cta_link != blank %}
    </a>
  {% endif %}
</div>