<form action="/search" method="get">
  <input class="nav-search-input" type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
  <input type="hidden" name="type" value="product" />
  <div class="nav-search-icon-wrap">
    <input class="nav-search-submit"
           type="submit"
           name="nav-search-button"
           value="" />
    {% include 'svg-icon-search' %}
  </div>

  <div class="nav-search-bar-close">
  	<div class="bar one"></div>
  	<div class="bar two"></div>
  </div>
</form>