<div id="pr-reviewdisplay"></div>

<script>
POWERREVIEWS.display.render({
  api_key: 'ecee97b3-ae68-483f-ae4b-756350853c06',
  locale: 'en_US',
  merchant_group_id: '79437',
  merchant_id: '683283',
  page_id: '123456789',
  review_wrapper_url: '/pages/reviews?',
  components: {
    ReviewSnippet: 'pr-reviewsnippet',
    ReviewDisplay: 'pr-reviewdisplay'
  }
});
</script>
