<div id="pr-reviewdisplay"></div>

<script>
POWERREVIEWS.display.render({
  api_key: 'e4e06efc-e430-40a3-8203-97a9f625df88',
  locale: 'en_US',
  merchant_group_id: '77397',
  merchant_id: '450247',
  page_id: '{{ product.id }}',
  review_wrapper_url: '/pages/reviews?',
  components: {
    ReviewSnippet: 'pr-reviewsnippet',
    ReviewDisplay: 'pr-reviewdisplay'
  }
});
</script>
