<svg class="icon icon-play-arrow" viewBox="0 0 32 32">
<title>PlayArrow</title>
<path fill="#000" style="fill: var(--color1, #000)" d="M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z"></path>
<path fill="#fff" style="fill: var(--color2, #fff)" d="M12.876 22.423v-11.447l9.157 5.723-9.157 5.723zM13.846 20.674l6.358-3.974-6.358-3.974v7.947z"></path>
</svg>
