{% if side == blank %}
	{% assign side = 'none' %}
{% endif %}

<svg class="icon icon-button-symbol icon-button-symbol-{{ side }}" viewBox="0 0 30 1" xmlns="http://www.w3.org/2000/svg">
    <title>Symbol Next to Button Text</title>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path class="icon-button-symbol-path" d="M0,0 L30,0" id="Line" stroke="#000000" fill-rule="nonzero"></path>
    </g>
</svg>