<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <h3>{{ 'cart.general.title' | t }}</h3>
    <span class="drawer__close js-drawer-close">
      	<div class="bar one"></div>
  		<div class="bar two"></div>
    </span>
  </div>
  <div id="CartContainer"></div>
</div>