{% comment %} Rewards :: Block loop {% endcomment %}
<div class="max-width">
    <h3>{{section.settings.title | escape }}</h3>        
        <div class="dolor-coin">
          {% for block in section.blocks %}
            <div class="dolor">
                {% if block.settings.title != blank %}
                <h3>
                    {{ block.settings.title }}
                </h3>
                {% endif %}
                {% if block.settings.description != blank %}
                   <p>{{ block.settings.description }}</p>
                {% endif %}
            </div>
          {% endfor %}    
        </div>    
    {% comment %}
        <div class="btn-center">
            <div class="buttons-row">
                    <a href="/account/register" class="">Join Now</a>
            </div>
        <a href="/account" class="account-btn text-center">Already have an account?</a>
        </div>
    {% endcomment %}    
</div>
{% schema %}
  {
    "name": "Redemptions",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        }
    ], 
    "blocks": [ 
        {
            "type": "html",
            "name": "Redemptions",
            "settings":[
                {
                    "type": "text",
                    "id": "title",
                    "label": "title"
                },
                {
                    "type": "html",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ]
  }
{% endschema %}